{% extends 'dashboard_base.html' %}
{% block title %}
search results for {{p}}
{% endblock %}
{% load tag %}
{% block search %}
<div class="container mb-3 mh-80">
    <h4 class="text-center">Search results for: <small class="text-primary">{{p}}</small></h4>
    <div class="row">
    
        {% for item in page_obj %}
        <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-3" data-prodId="{{item.pk}}">
            <div class="item-show shadow property-desc-container p-2 rounded btn" tabindex="0" style="transition: .4s; -webkit-transition: .4s;-o-transition: .4s;-moz-transition: .4s;">
                <div class="property-img-container mb-1">
                    <img src="{{item.image.url}}" class="property-img" alt="property image"/>
                </div>            
                <h4>{{item.title}}</h4>
                <span class="lead">GHC {{item.price}}</span>
                <p class="font-weight-bold">Plan: {{item.plan.name}}</p>
                <p style="margin: 0; padding: 0;">Uploaded {{item.date|ago}}</p>
                <h6 style="white-space: nowrap;">
                    <i class="fas fa-map-marker-alt"></i>
                    {{item.location}}
                </h6>
                <p class="font-weight-bold">{{item.region}}</p>
                <div class="w-100 d-flex justify-content-between">
                    <a href="{% url 'update' item.pk %}" class="btn btn-outline-primary" style="padding: 0 1rem;">Edit</a>
                    <a onclick="deleteProperty('{{item.pk}}')" type="button" class="btn btn-outline-primary" style="padding: 0 1rem;" data-toggle="modal">Delete</a>
                </div>
            </div>
        </div>
        {% empty %}
        <h4>you have no item named {{p}}</h4>
        {% endfor %}
    
    </div>
     <!-- pagination -->
     <div class="container flex-parent-center mb-5">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="page-arrow btn text-primary" aria-label="Previous">
                    <i class="fas fa-angle-left disappear"></i>
                    <i class="fas fa-angle-left"></i>
                    <i class="fas fa-angle-left"></i>
                </a> &nbsp;
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                &nbsp;<a href="?{% param_replace page=page_obj.next_page_number %}" class="page-arrow btn text-primary" aria-label="Next">
                    <i class="fas fa-angle-right"></i>
                    <i class="fas fa-angle-right"></i>
                    <i class="fas fa-angle-right disappear"></i>
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
<!-- end of pagination -->
</div>
    

{% endblock %}