{% extends 'base.html' %}
{% block title %}
About us
{% endblock %}
{% block content %}
<main class="container mh-70 p-5">
    <p class="display-4">About Us.</p>
    This app is a product of Swonet tech solutions, an imprint of Swonet incorporated. A technological outfit located in Accra Ghana.
    This app is developed for people in the real estate sector from big companies to private individuals who own properties in the real estate such as lands, apartments, Flats and any other kind of accommodation facilities to leverage on to consolidate their ability to reach out to many people in the market.
    <p>
        It was also developed to provide a platform for people in search for accommodation and property whether permanent or temporary to find their preferred choice hassle-free.
        If you are a property owner or have any  form of accommodation up for rent, all you need to do is to sign in and log on with the  details required. Then you will upload the property including the picture of the property, the features, the GPS location and any information that you may deem relevant to your patrons.
        Patrons simply have to log on to the app and see suggestions of products based on their preferences and location .
    </p>
    <p class="display-4">Our Team</p>
</main>

{% endblock %}