{% extends 'base.html' %}
{% block title %}
services
{% endblock %}
{% block content %}
<main class="mh-70 p-5">
    <p class="display-4">Products and Services:</p> 
    <p>We will be offering all forms of digital solutions as a tech company; our team will also be updating our products and services to suit our customers and the increasing demands on the market. SWo-Net will be committed tirelessly to providing timely, reliable, quality tech solutions for individuals, small businesses, and home office workers at competitively reasonable prices that will allow all individuals to desire the use of technology. Akomodation's products and services allow users to buy and sell properties such houses, lands and rooms or office spaces. If you want to buy any product here, you don't need to register an account. However, if you want sell a product, you need to register and upload your product in your dashboard. After a customer buys your product, you should delete the property from your dashboard.</p>
    <br>

</main>
{% endblock %}