{% extends 'base.html' %}

{% block content %}
<main class="mh-70">
    <style>
        #id_new_password1,
        #id_new_password2 {
            max-width: 100%;
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
        }
        #id_new_password1:focus,
        #id_new_password2:focus{
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
    </style>
    <div class="container py-5">
        <div class="row justify-content-center align-items-center h-100">
{% if form != None %}
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
{% else %}
<p>Token expired </p>
{% endif %}
    </div>
</main>



{% endblock %}