{% extends 'base.html' %}

{% block content %}

<main class="mh-80">
    <!-- display message when logged out -->
    <div class="container py-5">
        <div class="alert alert-primary mt-5" role="alert">
            <h4 class="alert-heading">We have sent you a mail in your inbox.</h4>
            <p>Please open your mail and follow the steps to reset your password</p>
            <hr>
            <a href="{% url 'home' %}" class="w-100 btn btn-primary">Return to homepage</a>
          </div>
    </div>
</main>

{% endblock %}