{% extends 'base.html' %}
{% block content %}
<main class="mh-80">
    <!-- display message when logged out -->
    <div class="container py-5">
        <div class="alert alert-primary mt-5" role="alert">
            <h4 class="alert-heading">Your password has been changed.</h4>
            <p>You can now login to your account.</p>
            <hr>
            <a href="{% url 'login' %}" class="w-100 btn btn-primary">Login</a>
          </div>
    </div>
</main>
<!-- <h1>account  completed</h1> -->
{% endblock %}}